<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erie Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Erie Tech Blog</h1>
      <nav class="navbar">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
          <a href="/dashboard">User Dashboard</a> |
          <button class="logout-button" id="logout">logout</button>
        {{else}}
          <a href="/login">LOGIN</a>
          <a href="/signup">SIGN UP</a>
          <a href="/">HOMEPAGE</a>
          <a href="/dashboard">DASHBOARD</a>
        {{/if}}
      </nav>
    </header>
    <main class="main-body">
    {{{body}}}
    </main>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>