<h2 class="home">Welcome, {{name}}!</h2>
<h4>Create a blog!</h4>
<form id="blog-input">
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="BlogTitle" aria-label="BlogTitle">
</div>
<div class="input-group">
  <span class="input-group-text">Create your blog</span>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
<button id="blog-btn" class="btn btn-outline-secondary" type="button">Submit your blog</button>
</form>




<script src="./js/blog.js"></script>