<h2 class="home">Welcome, {{name}}!</h2>
<h4>Create a blog!</h4>

<form class="blog-form">
  <div class="row mb-3">
    <label for="titleInput" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="blog-title" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="blogInput" class="col-sm-2 col-form-label">Blog</label>
    <div class="col-sm-5">
      <textarea class="form-control" id="blog-description"  aria-label="With textarea"></textarea>
    </div>
  </div>
  <button id="login-button" type="submit" class="btn btn-primary">Post your blog</button>
</form>

<script src="./js/blog.js"></script>