<h1 class="home">Login or sign up to create your blog!</h1>
{{#each blogs as |blog| }}
<div class="blog-post">
  <div class="blog-column">
    <a href="/blog/{{blog.user_id}}">{{blog.title}}</a>
  </div>
  <div>{{format_date blog.date_created}}</div>
  <div class="blog-description">
    <p>
      {{blog.description}}
    </p>
  </div>
</div>
{{/each}}

