<h2>Please login to create a new blog</h2>

<form class="login-form">
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="email-login">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="password-login">
    </div>
  </div>
  <button id="login-button" type="submit" class="btn btn-primary">Sign in</button>
</form>

<script src="./js/login.js"></script>