* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

header {
  background-color: cornflowerblue;
  border-bottom: 2px;
  height: 100px;
}


.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.navbar a {
  color: black;
  padding: 8px 25px;
  transition: all .5s ease;
}

.navbar a:hover {
  background-color: white;
  box-shadow: 0 0 10px white
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 600px;
  padding: 5px;
}

.blog-post {
  display: flex;
  justify-content: center;
  border: 5px solid black;
  margin: auto;
  width: 600px;
}


/* .container .login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  height: 400px;
  margin: auto;
  width: 600px;
  box-sizing: border-box;
}

.container .signUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  height: 400px;
  margin: auto;
  width: 600px;
  box-sizing: border-box;
}


#text-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  
} */

.logout-button:hover{
  background-color: red;
  box-shadow: 0 0 10px red;
}